<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form method="get" th:object="${loginForm}" action="/users" class="loginForm">
        <div class="loginContainer">
            <div class="inputContainer">
                <div class="form-outline">
                    <input type="text" th:field="*{userId}" class="form-control" />
                    <label th:if="${not #fields.hasErrors('userId')}" class="form-label" th:for="userId">ID</label>
                    <label th:if="${#fields.hasErrors('userId')}" class="form-label" th:for="userId" style="color: #bd2130 !important;'" th:errors="*{userId}">ID</label>
                </div>
                <div class="form-outline">
                    <input type="password" th:field="*{userPw}" class="form-control" />
                    <label th:if="${not #fields.hasErrors('userPw')}" class="form-label" th:for="userPw">PW</label>
                    <label th:if="${#fields.hasErrors('userPw')}" class="form-label" th:for="userPw" style="color: #bd2130 !important;'" th:errors="*{userPw}">PW</label>
                </div>
            </div>
            <button type="submit" class="btn btn-info">로그인</button>
        </div>
        <a href="/signup" class="link-info">회원가입</a>
    </form>

    <br/>
    <div th:replace="fragments/footer :: footer"/>

    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
</div> <!-- /container -->

</body>
</html>