<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form role="form" id="createMovieForm" th:object="${movieForm}" method="post" enctype="multipart/form-data">
        <div class="form-outline">
            <input type="text" id="movieName" th:field="*{movieName}" class="form-control" />
            <label th:if="${not #fields.hasErrors('movieName')}" class="form-label" th:for="movieName">영화 이름</label>
            <label th:if="${#fields.hasErrors('movieName')}" class="form-label" th:for="userName" style="color: #bd2130 !important;'" th:errors="*{movieName}">영화 이름</label>
        </div>
        <div class="form-outline">
            <input type="text" id="runTime" th:field="*{runTime}" class="form-control" />
            <label th:if="${not #fields.hasErrors('runTime')}" class="form-label" th:for="runTime">상영 시간</label>
            <label th:if="${#fields.hasErrors('runTime')}" class="form-label" th:for="runTime" style="color: #bd2130 !important;'" th:errors="*{runTime}">상영 시간</label>
        </div>

        <div class="form-outline">
            <input type="date" id="openingDate" th:field="*{openingDate}" class="form-control" />
            <label th:if="${not #fields.hasErrors('openingDate')}" class="form-label" th:for="openingDate" th:value="*{openingDate}">개봉일</label>
            <label th:if="${#fields.hasErrors('openingDate')}" class="form-label" th:for="openingDate" style="color: #bd2130 !important;'" th:errors="*{openingDate}">개봉일</label>
        </div>

        <div class="form-outline">
            <input type="text" id="summary" th:field="*{summary}" class="form-control" />
            <label th:if="${not #fields.hasErrors('summary')}" class="form-label" th:for="summary" th:value="*{summary}">내용</label>
            <label th:if="${#fields.hasErrors('summary')}" class="form-label" th:for="summary" style="color: #bd2130 !important;'" th:errors="*{summary}">내용</label>
        </div>

        <div id="genres"></div>

        <div class="form-outline">
            <input type="file" id="movieImage" th:field="*{movieImage}" class="form-control" />
        </div>

        <button type="submit" class="btn btn-info">영화 등록</button>

    </form>

    <br/>
    <div th:replace="fragments/footer :: footer"/>

    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
</div> <!-- /container -->

<script type="module">

    import Common from "/js/common.js";

    const createMovieForm = document.querySelector("#createMovieForm");
    const movieNameInput = document.querySelector("#movieName");
    const runTimeInput = document.querySelector("#runTime");
    const openingDateInput = document.querySelector("#openingDate");
    const summaryInput = document.querySelector("#summary");
    const genreContainer = document.querySelector("#genres");
    const movieImageInput = document.querySelector("#movieImage");

    const checkedGenreCode = [];

    const createGenreCheckBox = (code, name) => {

        const parent = document.createElement("div");

        parent.className = "form-check form-check-inline";

        const checkBox = document.createElement("input");
        checkBox.type = "checkBox";
        checkBox.id = `genre_${code}`;
        checkBox.value = code;
        checkBox.addEventListener("change", (event) => {
            if (event.target.checked) checkedGenreCode.push(event.target.value);
            else checkedGenreCode.pop(event.target.value);
        });

        const label = document.createElement("label");
        label.htmlFor = checkBox.id;
        label.innerText = name;
        label.className = "form-check-label";

        parent.appendChild(checkBox);
        parent.appendChild(label);

        return parent;
    }

    const getGenreList = async () => {

        try {
            const result = await axios.get("http://localhost:8080/aws-movie-api/v1/genres");

            if (result.status !== 200) {
                alert("장르 조회에 실패했습니다.");
                return;
            }

            const genreList = result.data.result;

            genreList.forEach((genre, index) => {
                let genreCheckBox = createGenreCheckBox(genre.genreCode, genre.genreKrName);
                genreContainer.appendChild(genreCheckBox);
            });

            console.log(genreList)

        } catch (e) {
            alert("장르 조회에 실패했습니다.");
        }
    }

    window.onload = getGenreList()

    const postNewMovie = async () => {
        try {
            const movieName = movieNameInput.value;
            const runTime = runTimeInput.value;
            const openingDate = openingDateInput.value;
            const summary = summaryInput.value;
            const movieImage = movieImageInput.value;


            axios.post(`${Common.baseUrl}/movies`, {
                movieName: movieName,
                runTime: runTime,
                openingDate: openingDate,
                summary: summary,
                genres: checkedGenreCode,
                image: movieImage
            });

        } catch (e) {
            console.log(e);
        }
    }

    createMovieForm.addEventListener("submit", (event) => {
        event.preventDefault();
        postNewMovie();
    })

</script>

</body>
</html>