<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<link href="/css/rating-start.css" rel="stylesheet">
<style>
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div th:object="${movie}">
        <div class="card mb-3" style="padding: 30px">
            <div class="row g-1">
                <div class="col-md-1">
                    <img th:src="${movie.movieImagePath}" th:alt="${movie.movieName}" class="img-fluid rounded-start"
                         style="max-height: 200px; object-fit: cover;"/>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h3 class="card-title" th:text="${movie.movieName}">영화 제목</h3>

                        <div class="card-text">
                            <small class="text-muted" th:each="genre, i: ${movie.genres}"
                                   th:text="${i.count < genres.size()}? ${genre.genreKrName} + ', ' : ${genre.genreKrName}">장르</small>
                            <small class="text-muted"> | </small>
                            <small class="text-muted">0.0</small>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row g-1">
                <div>
                    <h5 class="card-text">줄거리</h5>
                    <h6 class="card-text" th:text="${movie.summary}"></h6>
                </div>
            </div>
            <hr>
            <div class="row g-1">
                <h5 class="card-text">리뷰</h5>
                <form action="/movie-rates" th:method="post">

                    <input type="hidden" name="movieId" th:value="${movie.movieId}">

                    <div class="starpoint_wrap">
                        <div class="starpoint_box">
                            <label th:each="num : ${#numbers.sequence(1,10)}" th:for="'starpoint_' + ${num}"
                                   class="label_star" th:title="${num}"><span class="blind" th:text="${num} + '점'">0.5점</span></label>
                            <input th:each="num : ${#numbers.sequence(1,10)}" th:value="${num}" type="radio" name="rate"
                                   th:id="'starpoint_' + ${num}" class="star_radio">
                            <span class="starpoint_bg"></span>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="col-md-9">
                            <textarea class="form-control" name="comment" id="commentInput" rows="2"></textarea>
                        </div>
                        <button type="submit" class="btn btn-info col-md-1" style="height: 100%">등록</button>
                    </div>

                </form>
                <div th:each="rate : ${movie.rates}">
                    <div class="starpoint_wrap">
                        <div class="starpoint_box">
                            <label th:each="num : ${#numbers.sequence(1,10)}" th:for="${rate.movieRateId} + '_' + ${num}"
                                   class="label_star" th:title="${num}"><span class="blind" th:text="${num} + '점'">0.5점</span></label>
                            <input th:each="num : ${#numbers.sequence(1,10)}" th:value="${num}" type="radio"
                                   th:id="${rate.movieRateId} + '_' + ${num}" class="star_radio" th:checked="${num <= (rate.rate)*2} ? true : false" disabled><!---->
                            <span class="starpoint_bg"></span>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="col-md-1">
                            <h6 th:text="${rate.user.userId}"></h6>
                        </div>
                        <div class="col-md-9">
                            <p th:text="${rate.comment}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <div th:replace="fragments/footer :: footer"/>

    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
</div> <!-- /container -->

</body>
</html>